* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input,
button,
select,
textarea {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-family: inherit;
	font-size: 100%;
}

body {
	overflow: hidden;
	background: #020000;
	color: #0081d6;
	width: 1000px;
	font-weight: 700;
	font-family: monospace;
	height: 100vh;
}

p {
	font-size: 1.9em;
}

.container {
	padding: 5px;
	display: block;
	flex-direction: column;
	width: 1000px;
	height: 95vh;
	position: relative;
	overflow: hidden;
	opacity: 0;
	animation: scan 5s ease-out forwards;
	background: #020000;
}

.row {
	display: flex;
	width: 900px;
	height: 210px;
	padding: 0 20px;
}

.welcome {
	margin: 0px 30px;
	padding: 10px 0;
	width: 520px;
}

.image-container {
	transition: opacity 1s ease-in-out, transform 0.1s ease-in-out;
	width: 190px;
	height: 195px;
	margin-top: 10px;
}

.name {
	display: block;
	font-size: 1.4em;
	margin-left: 40px;
	position: relative;
	z-index: 1;
}

.answer {
	padding: 15px 0;
	display: flex;
	flex-direction: column;
	align-items: left;
	text-align: left;
	height: 282px;
	font-size: 1.75em;
}

.answerEN,
.answerJP {
	margin-bottom: 10px;
}

.animated-line {
	animation: typing 21s steps(40, end);
}

@keyframes typing {
	from {
		 width: 0;
	}
	to {
		 width: 100%;
	}
}

.content {
	display: block;
	width: 720px;
}

.question:before {
	vertical-align: top;
	color: #0081d6;
	content: '[';
	margin-right: 5px;
}

.question:after {
	vertical-align: top;
	color: #0081d6;
	content: ']'
}

.overlay {
	height: 1px;
	position: absolute;
	top: 30px;
	left: 35px;
}

.overlay:before {
	background: linear-gradient(#0e0e0e 50%, rgba(16, 16, 16, 0.2) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
	background-size: 100% 3px, 6px 100%;
	content: "";
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	pointer-events: none;
}

.overlay:after {
	background: rgba(16, 16, 16, 0.2);
	content: "";
	display: block;
	pointer-events: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.glitch {
	animation: glitch-animation 0.4s infinite;
	animation: noise .4s linear infinite;
}

.question {
	margin: 8px 0;
	color: #ffffff;
	padding: 15px 0;
	display: inline-flex;
	font-size: 2.0em;
}

.question input {
	border: none;
	outline: none;
	width: 250px;
	color: #fff;
	padding: 0;
	background: #020000;
	vertical-align: top;
}

.modal {
	margin: 2px;
	padding: 0 10px;
	display: none;
	flex-direction: column;
	width: 840px;
	height: 94vh;
	position: relative;
	overflow: hidden;
	animation: scan 5s ease-out forwards;
}

.ascii {
	margin-left: 30px;
	margin-top: 2px;
	display: block;
	font-size: 10px;
}


.rules {
	margin-top: 10px;
	line-height: 125%;
	font-size: 1.7em;
}

ol,
li {
	margin-left: 10px;
	padding-left: 10px;
}

li::marker {
	color: #FFF;
}

ul {
	list-style-type: disc;
}

.events {
	color: white;
	cursor: pointer;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	color: white;
	text-decoration: none;
}

#loadingAnimation {
	font-size: 36px;
	align-items: left;
	text-align: left;
 }
 
 .dot {
	display: inline-block;
	animation: bounce 1.5s infinite;
 }

 @keyframes bounce {
	0%, 100% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-10px);
	}
 } 

@keyframes glitch-animation {
	0% {
		transform: translate(0);
	}

	25% {
		transform: translate(-2px, 2px);
	}

	50% {
		transform: translate(2px, -2px);
	}

	75% {
		transform: translate(-2px, 2px);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes scan {
	0% {
		opacity: 0;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	10% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	20% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	30% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 25%, 0 25%);
	}

	50% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
	}

	100% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

}

@keyframes noise {

	0%,
	20%,
	40%,
	60%,
	70%,
	90% {
		opacity: 0;
	}

	10% {
		opacity: .1;
	}

	50% {
		opacity: .5;
		left: 6px;
	}

	80% {
		opacity: .3;
	}

	100% {
		opacity: .6;
		left: -2px;
	}
}