* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input,
button,
select,
textarea {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-family: inherit;
	font-size: 100%;
}

body {
	background: #020000;
	color: #0081d6;
	font-weight: 700;
	font-family: monospace;
	height: 100vh;
}

p {
	font-size: 1.9em;
}

.container {
	margin: 5px;
	padding: 10px;
	display: block;
	flex-direction: column;
	width: 70%;
	height: 95vh;
	position: relative;
	overflow: hidden;
	opacity: 0;
	animation: scan 4s ease-out forwards;
	background: #020000;

	/* Mantenha as outras propriedades conforme necessário */
}

@keyframes scan {
	0% {
		opacity: 0;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	10% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	20% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	30% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 25%, 0 25%);
	}
	50% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
	}
	100% {
		opacity: 1;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
}

.row {
	display: flex;
	flex-direction: row;
	padding: 0 20px;
}

.welcome {
	margin: -25px 40px;
	padding: 10px 0;
	align-self: flex-end;
	vertical-align: bottom;
}

.name {
	display: inline-block;
	font-size: 1.4em;
	margin-left: 40px;
	position: relative;
	z-index: 1; /* Certifique-se de que os elementos com o efeito tenham um z-index maior que outros elementos */
}

.answer {
	padding: 15px 0 20px 0;
	line-height: 1.2em;
	margin: 30px 0;
}

.question {
	margin: 10px 0;
	color: #ffffff;
	padding: 15px 0;
	display: inline-flex;
	font-size: 2.0em;
}

.question input {
	border: 1px solid #020000;
	width: 250px;
	color: #fff;
	background: #020000;
	vertical-align: top;
}

.question:before {
	color: #0081d6;
	content: '['
}

.question:after {
	color: #0081d6;
	content: ']'
}

.overlay {
	height: 1px;
	position: absolute;
	top: 30px;
	left: 35px;
}


.overlay:before {
	background: linear-gradient(#0e0e0e 50%, rgba(16, 16, 16, 0.2) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
	background-size: 100% 3px, 6px 100%;
	content: "";
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	pointer-events: none; /* Permite que eventos do mouse ignorem a sobreposição */
}
.overlay:after {
	background: rgba(16, 16, 16, 0.2);
	content: "";
	display: block;
	pointer-events: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
